<div class="card-body d-flex justify-content-between">
    <div class="btn-group btn-group-sm" role="group" aria-label="Transact">
        <!-- <button type="button" id="<%= quote.id %>-buy" class="btn btn-success"
                                                onClick='reply_click(this.id, "buy")' data-mdb-toggle="collapse"
                                                data-mdb-target="#<%= quote.id %>-orderForm" aria-expanded="false"
                                                aria-controls="<%= quote.id %>-orderForm">Buy</button>
                                            <button type="button" id="<%= quote.id %>-sell" class="btn btn-danger"
                                                onClick='reply_click(this.id, "sell")'>Sell</button> -->

        <button type="button" id="<%= quote.id %>-buy" class="btn btn-success" data-mdb-toggle="collapse"
            data-mdb-target="#<%= quote.id %>-orderForm" aria-expanded="false"
            aria-controls="<%= quote.id %>-orderForm">Buy</button>
        <button type="button" id="<%= quote.id %>-sell" class="btn btn-danger" data-mdb-toggle="collapse"
            data-mdb-target="#<%= quote.id %>-orderForm" aria-expanded="false"
            aria-controls="<%= quote.id %>-orderForm">Sell</button>
    </div>
    <!-- <button type="button" onclick="notify('Stock Info to be triggered', 'info');"
                                            class="btn btn-outline-primary btn-sm" data-mdb-ripple-color="dark">
                                            Explore
                                        </button> -->

    <button type="button" class="btn btn-primary btn-sm" id="<%= quote.id %>-modalLaunch" data-mdb-toggle="modal"
        data-mdb-target="#orderFormModal">
        Place Order
    </button>

    <!-- Collapsed content -->

</div>






<div class="card-body" id="<%= quote.id %>-orderForm">
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="<%= quote.id %>-tab-cnc" data-mdb-toggle="pill"
                href="#<%= quote.id %>-pills-cnc" role="tab" aria-controls="pills-login" aria-selected="true">CNC</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="<%= quote.id %>-tab-mis" data-mdb-toggle="pill" href="#<%= quote.id %>-pills-mis"
                role="tab" aria-controls="pills-register" aria-selected="false">MIS</a>
        </li>
    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="<%= quote.id %>-pills-cnc" role="tabpanel"
            aria-labelledby="<%= quote.id %>-pills-cnc">

            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-4">
                    <div class="form-outline">
                        <input type="number" id="form11Example1" class="form-control" value=1 />
                        <label class="form-label" for="form11Example1">Quantity</label>
                    </div>
                </div>

                <div class="col-8">
                    <div class="form-outline">
                        <input type="text" id="form11Example3" class="form-control" />
                        <label class="form-label" for="form11Example3">Price</label>
                    </div>
                </div>

                <br>
                <hr>
                <div class="col-auto">
                    <span>Order type : </span>
                    <div class="btn-group shadow-0" role="group" aria-label="Basic example">

                        <button type="button" class="btn btn-primary btn-sm active">
                            Market
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            Limit
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            SL
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            SL-M
                        </button>
                    </div>
                </div>

                <div class="col-auto">
                    <span>Variety : </span>
                    <span class="badge bg-success">Regular</span>

                </div>


                <div class="col-auto justify-content-center">

                    <span>Validity : </span>
                    <div class="btn-group shadow-0" role="group" aria-label="Basic example">

                        <button type="button" class="btn btn-secondary btn-sm active">
                            Day
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            IOC
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <div class="tab-pane fade" id="<%= quote.id %>-pills-mis" role="tabpanel"
            aria-labelledby="<%= quote.id %>-tab-mis">
            <form class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="number" id="form11Example1" class="form-control" value=1 />
                        <label class="form-label" for="form11Example1">Quantity</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text" id="form11Example3" class="form-control" />
                        <label class="form-label" for="form11Example3">Price</label>
                    </div>
                </div>

                <br>
                <hr>
                <div class="col-auto">
                    <span>Order type : </span>
                    <div class="btn-group shadow-0" role="group" aria-label="Basic example">

                        <button type="button" class="btn btn-primary btn-sm active">
                            Market
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            Limit
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            SL
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm">
                            SL-M
                        </button>
                    </div>
                </div>

                <div class="col-auto">
                    <span>Variety : </span>
                    <span class="badge bg-success">Regular</span>

                </div>


                <div class="col-auto justify-content-center">

                    <span>Validity : </span>
                    <div class="btn-group shadow-0" role="group" aria-label="Basic example">

                        <button type="button" class="btn btn-secondary btn-sm active">
                            Day
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            IOC
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- Pills content -->
</div>