<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <!-- <style>
            body {
                background-color: #f5f7fa;
            }

            .card.chart-card .nav-tabs .nav-item.show .nav-link,
            .nav-tabs .nav-link.active {
                color: #673ab7;
                border-color: #673ab7;
            }
        </style> -->

  <style>
    body {
      background-color: #fbfbfb;
    }

    @media (min-width: 991.98px) {
      main {
        padding-left: 10%;
      }
    }

    /* Sidebar */
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      padding: 58px 0 0;
      /* Height of navbar */
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
      width: 14%;
      z-index: 600;
    }

    @media (max-width: 991.98px) {
      .sidebar {
        width: 100%;
      }
    }

    .sidebar .active {
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }

    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
    }

    .list-group {
      /* max-height: 80%; */
      height: calc(100vh - 120px);
      /* margin-bottom: 100px; */
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .list-group-leaderboard {
      max-height: 275px;
      /* height: calc(100%); */
      /* max-height: 100vh; */
      /* margin-bottom: 100px; */
      overflow: auto;
      -webkit-overflow-scrolling: touch;

    }

    a.menu_links {
      cursor: pointer;
    }

    .menu-container {
      height: 100vh;
    }
  </style>

</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NTJ8BSG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!--Main Navigation-->
  <header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="#" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Trade Centre</span>
          </a>

          <a href="/orders" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a>
          <a href="/leaderboard" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-users fa-fw me-3"></i><span>Leaderboard</span></a>
          <a href="/users/logout" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-user fa-fw me-3"></i><span>Logout</span></a>
          <div class="text-center" style="margin-top: 200px">
            <h6 class="mb-3 fw-light">Powered By :</h6>
            <a href="https://flipitnews.com/"><img src=" ../assets/images/flipitnews_logo.png" width="200px"></a>
            <h6 class="mb-3 fw-light">India's First Investment Information Network</h6>
          </div>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <h4>MockStock 2.0</h4>
        </a>


      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 38px; margin-left: 20px;" style="overflow: hidden;">
    <% if (marketState !== "CLOSED") { %>
    <div class="container" style="overflow-y:hidden;">
      <div class="row gy-3">
        <div class="col-lg-12">
          <section class="mb-4">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0 text-center"><strong>Welcome <%= user.name %></strong></h5>
              </div>
              <!-- <div class="card-body">
                                <canvas class="my-4 w-100" id="myChart" height="280"></canvas>
                            </div> -->
            </div>
          </section>
        </div>
      </div>
      <div class="row gx-3">
        <div class="col-lg-4">
          <div class="container py-2" style="overflow: auto;">
            <h4 class="text-center">Your Watchlist</h4>
            <div class="list-group overflow-auto" style="overflow-y: scroll;">
              <% quotes.forEach(function(quote) { %>
              <div id="<%= quote.id %>-watchlistItem" onclick="fillOrderForm('<%=quote.id %>')">
                <a class="list-group-item list-group-item-action menu_links" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1" id="<%= quote.id %>-quoteName">
                      <%= quote.name %>
                    </h6>
                    <h5 class="display-8 align-self-end" id="<%= quote.id %>-marketPrice">
                      <%= quote.marketPrice %>
                    </h5>

                    <!-- <small>3 days ago</small> -->
                  </div>
                  <!-- <p class="mb-1">
                                        Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                                        varius blandit.
                                    </p> -->
                  <div class="d-flex w-100 justify-content-between">
                    <small>&#8377; • NSE</small>
                    <small>
                      <span class="text-<%= quote.badgeClassName %> align-self-end" id="<%= quote.id %>-marketPriceChange">
                        <%= quote.marketPriceChange> 0 ? "+" +
                                                        quote.marketPriceChange :
                                                        quote.marketPriceChange %>
                      </span>
                      <span class="badge bg-<%= quote.badgeClassName %>" id="<%= quote.id %>-marketPriceChangePercentBadge">
                        <i class="fas fa-arrow-<%= quote.arrowType %>" id="<%= quote.id %>-marketPriceChangePercentArrow"></i>
                        <span id="<%= quote.id %>-marketPriceChangePercent">
                          <%= quote.marketPriceChangePercent %>%
                        </span>
                      </span>
                    </small>
                  </div>
                </a>
              </div>
              <% }); %>
            </div>

          </div>
        </div>
        <div class="col-lg-8">
          <!-- Section: Main chart -->
          <!-- <section class="mb-4">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0 text-center"><strong>Welcome <%= user.name %></strong></h5>
              </div>
              <div class="card-body">
                                <canvas class="my-4 w-100" id="myChart" height="280"></canvas>
                            </div>
            </div>
          </section> -->
          <!-- Section: Main chart -->
          <div class="row">
            <div class="col-lg-6">
              <section class="mb-4">
                <div class="card">
                  <%- include('../partials/form'); %>
                </div>
              </section>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <h5 class="text-center card-header">Order Book</h5>

                <div class="list-group-leaderboard" id="leaderboard-list" style=" overflow-y: auto;">
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-6">
              <section class="mb-4">
                <div class="card">
                  <%- include('../partials/wallet'); %>
                </div>
              </section>
            </div>
            <div class="col-lg-6">
              <section class="mb-4">
                <div class="card">
                  <h5 class="text-center card-header">Your Holdings</h5>
                  <div class="list-group-leaderboard" id="holdings-list" style=" overflow-y: auto;">
                    <% holdings.forEach((holding) => { %>
                    <div id="<%= holding.id %>-holdingItem">
                      <a class="list-group-item list-group-item-action menu_links" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1" id="<%= holding.id %>-companyName">
                            <%= holding.companyName %>
                          </h6>
                          <h5 class="display-8 align-self-end" id="<%= holding.id %>-quantity">
                            <%= holding.quantity %>
                          </h5>

                          <!-- <small>3 days ago</small> -->
                        </div>
                      </a>
                    </div>
                    <% }); %>
                  </div>
              </section>
            </div>
          </div>

        </div>
      </div>

    </div>
    <% } %>
  </main>
  <!--Main layout-->
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script type="text/javascript">
    function notify(displayText, type) {
      var color;
      color = type == "sell" ? "red" : "green";
      if (type == "info") {
        color = "blue";
      } else if (type == "queue") {
        color = "linear-gradient(to right, #00b09b, #96c93d)";
      }
      Toastify({
        text: displayText,
        duration: 3000,
        destination: "#",
        newWindow: true,
        className: "info",
        close: true,
        gravity: "top", // `top` or `bottom`
        position: "right", // `left`, `center` or `right`
        // backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
        backgroundColor: color,
        stopOnFocus: true, // Prevents dismissing of toast on hover
        onClick: function() {} // Callback after click
      }).showToast();
    }
  </script>

  <script>
    // Graph
    var ctx = document.getElementById("myChart");

    var myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
        ],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: "transparent",
          borderColor: "#007bff",
          borderWidth: 4,
          pointBackgroundColor: "#007bff",
        }, ],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false,
            },
          }, ],
        },
        legend: {
          display: false,
        },
      },
    });
  </script>
</body>

</html>