<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <style>
            body {
                background-color: #f5f7fa;
            }

            .card.chart-card .nav-tabs .nav-item.show .nav-link,
            .nav-tabs .nav-link.active {
                color: #673ab7;
                border-color: #673ab7;
            }
        </style>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <!--Main layout-->
    <main class="my-5">
        <div class="container">

            <section>
                <!-- <div id="chart-container"></div> -->

                <h4 class="mb-5 text-center"><strong>Your Watchlist</strong></h4>
                <h5 class="mb-5 text-center">Market is <%= marketState %>
                </h5>

                <div class="row justify-content-center">

                    <% quotes.forEach(function(quote) { %>
                        <div class="col-lg-4 col-md-12 mb-4">


                            <!-- <section class="mx-auto my-5" style="max-width: 23rem;"> -->
                            <div class="card chart-card" style="max-width: 23rem;">
                                <div class="card-body pb-0">
                                    <h5 class="card-title font-weight-bold">
                                        <%= quote.name %>
                                    </h5>
                                    <p class="card-text mb-4">
                                        <%= quote.symbol %> • &#8377; • NSE • <span
                                                class="text-<%= quote.badgeClassName %> align-self-end">
                                                <%= quote.marketPriceChange> 0 ? "+" +
                                                    quote.marketPriceChange :
                                                    quote.marketPriceChange %>
                                            </span>

                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <p class="display-4 align-self-end">
                                            <%= quote.marketPrice %>
                                        </p>
                                        <h5 class="align-self-end pb-2">
                                            <span class="badge bg-<%= quote.badgeClassName %>">
                                                <i class="fas fa-arrow-<%= quote.arrowType %>"></i>
                                                <%= quote.marketPriceChangePercent %>
                                            </span>

                                        </h5>


                                    </div>


                                    <div class="card-body d-flex justify-content-between">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Transact">
                                            <button type="button" class="btn btn-success">Buy</button>
                                            <button type="button" class="btn btn-danger">Sell</button>
                                        </div>
                                        <button type="button" onclick="notify();" class="btn btn-outline-primary btn-sm"
                                            data-mdb-ripple-color="dark">
                                            + More Info
                                        </button>

                                        <!-- Collapsed content -->

                                    </div>

                                    <!-- <hr> -->

                                    <!-- <a href="#" class="btn btn-danger btn-sm">Sell</a>
                                        <a href="#" class="btn btn-success btn-sm">Buy</a> -->

                                </div>

                            </div>
                            <!-- </section> -->





                        </div>
                        <% }); %>

                </div>
            </section>
            <!--Section: Content-->

            <!-- Pagination -->
            <!-- <nav class="my-4" aria-label="...">
                <ul class="pagination pagination-circle justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </main>
    <!--Main layout-->

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script type="text/javascript">
        function notify() {
            Toastify({
                text: "Transaction executed",
                duration: 3000,
                destination: "https://github.com/apvarun/toastify-js",
                newWindow: true,
                className: "info",
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "right", // `left`, `center` or `right`
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                stopOnFocus: true, // Prevents dismissing of toast on hover
                onClick: function () { } // Callback after click
            }).showToast();
        }





    </script>
</body>

</html>